:root {
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlue: hsl(207, 26%, 17%);
    --VeryDarkBlue: hsl(200, 15%, 8%);
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

.body {
    margin: 0 auto;
    background-color: var(--White);
    font-family: 'NunitoSans', sans-serif;
    font-style: normal;
    font-size: 18px;
}

.header {
    margin: 0 auto;
    background-color: var(--White);
    max-width: 1280px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 5px 5px var(--DarkBlue);
}

.header__title {
    margin: 0;
    font-weight: 800;
    font-size: 24px;
}

.header__group-theme {
    display: flex;
    align-items: center;
}

.header__icon {
    width: 50px;
}

.header__text {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}