:root {
  --colorText: #07080A;
  --colorBackground: #FAFAFA;
  --header: #FFF;
}


:root[data-color-scheme="dark"] {
  --colorText: #FFF;
  --colorBackground: #202D36;
  --header: #2B3743;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  margin: 0 auto;
  background-color: var(--colorBackground);
  font-family: 'NunitoSans', sans-serif;
  font-style: normal;
  font-size: 18px;
}

.header__container {
  background-color: var(--header);
  box-shadow: 0 6px 3px var(--header);
}

.header {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin: 0;
  font-weight: 800;
  font-size: 24px;
  color: var(--colorText);
}

.header__group-theme {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.header__icon {
  width: 40px;
  height: 40px;
  fill: var(--colorText);
}

.header__text {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  color: var(--colorText);
}

.flags__container {
  background-color: var(--VeryLightGray);
}

.flags {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 600px;
}

.flags__group-up {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.flags__group-input {
  width: 600px;
  height: 50px;
  background-color: var(--header);
  overflow: hidden;
  display: flex;
  align-items: center;
}

.flags__input {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
  border: transparent;
  background-color: var(--header);
  color: var(--colorText);
}

.flags__input-icon {
  padding-right: 30px;
  width: 40px;
  height: 40px;
  fill: var(--colorText);
}

.flags__group-filter {
  position: relative;
}

.flags__button-choose {
  padding: 0 30px;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  color: var(--colorText);
  border: transparent;
  cursor: pointer;
}

.flags__button-icon {
  width: 16px;
  height: 16px;
  fill: var(--colorText);
}

.flags__lists {
  margin-top: 20px;
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: var(--header);
  position: absolute;
  width: 100%;
}

.flags_opened {
  display: flex;
}

.flags__list {
  cursor: pointer;
  transition: all 0.5s;
}

.flags__list:hover {
  background-color: var(--colorBackground);
}

.flags__list-description {
  margin: 0;
  padding: 15px;
  color: var(--colorText);
}

.flags__group-down {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.flags__cards {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  cursor: pointer;
}

.flags__card {
  padding: 0 0 50px 0;
  max-width: 280px;
  width: 100%;
  min-height: 300px;
  object-fit: contain;
  overflow: hidden;
  background-color: var(--header);
  border-radius: 10px;
}

.flags__image {
  max-width: 280px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flags__title {
  margin: 0;
  margin-top: 30px;
  padding: 0 10px;
  font-weight: 800;
  font-size: 26px;
  color: var(--colorText);
}

.flags__text {
  margin: 0;
  margin-top: 10px;
  padding: 0 10px;
  font-weight: 600;
  color: var(--colorText);
}

.flags__span {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  color: var(--colorText);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorBackground);
  justify-content: center;
  align-items: center;
  display: none;
}

.popup_opened {
  display: flex;
}

.popup__group {
  max-width: 1200px;
  width: 100%;
  background-color: #FAFAFA;
  box-sizing: border-box;
}


.popup__back {
  padding: 10px 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: var(--colorBackground);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 80px;
  cursor: pointer;
}

.popup__icon {
  width: 20px;
  height: 20px;
}

.popup__text {
  margin: 0;
}

.popup__flag {
  max-width: 600px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  grid-area: flag;
}

.popup__group-main {
  display: grid;
  grid-template-areas:
    "flag info";
  gap: 8px 18px;
}

.popup__group-right {
  grid-area: info;
  display: grid;
  grid-template-areas:
    "title title"
    "listleft listright";
  gap: 8px 18px;
}

.popup__title {
  margin: 0;
  grid-area: title;
}

.popup__group-list-left {
  grid-area: listleft;
}

.popup__group-list-right {
  grid-area: listright;
}
